<div class="content-box">
  <h1>Šifranti</h1>
  <p>
    Modul Šifranti vsebuje ključne skupne šifrante, ki se uporabljajo v okviru javne uprave.
  </p>
  <p>
    Šifranti so standardizirani nizi šifer in z njimi povezane vrednosti, ki se uporabljajo za predstavitev določenih atributov v nizih podatkov.<br>
    Zagotavljajo doslednost in enotnost pri predstavitvi podatkov v različnih sistemih in aplikacijah. Tipično se šifranti ne spreminjajo pogosto, razen ob občasnih revizijah.<br>
    Šifranti pridobijo svojo vrednost, kadar so široko sprejeti in v široki uporabi.
  </p>
  <p>
    Enotni šifranti omogočajo:
  </p>
  <ul>
    <li>Dosledno predstavitev podatkov,</li>
    <li>Interoperabilnost sistemov,</li>
    <li>Lažjo integracijo in medresorsko izmenjavo podatkov,</li>
    <li>Lažjo izmenjavo podatkov z zunanjimi partnerji kot so zasebna podjetja, nevladne organizacije ali mednarodne organizacije,</li>
    <li>Učinkovitejšo analizo podatkov.</li>
  </ul>
  <p>
    Modul šifranti se neposredno povezuje s modulom Terminologija in modulom Podatkovni modeli.
  </p>
</div>
